.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm
*.xcodeproj
*.xcworkspace
.build/
timeline.xctimeline
playground.xcworkspace
.idea/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Pods/
*.xcconfig
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
iOSInjectionProject/
*.generated.swift
